@mixin font-style-1($line-height: $line-height-basic){
  font-size: $font-size-1;
  font-weight: $font-weight-medium;
  line-height: $line-height;
}

@mixin font-style-2($line-height: $line-height-basic){
  font-size: $font-size-2;
  font-weight: $font-weight-medium;
  line-height: $line-height;
}

@mixin font-style-3($line-height: $line-height-basic){
  font-size: $font-size-3;
  font-weight: $font-weight-regular;
  line-height: $line-height;
}

@mixin font-style-4($line-height: $line-height-basic){
  font-size: $font-size-4;
  font-weight: $font-weight-medium;
  line-height: $line-height;
}

@mixin font-style-5($line-height: $line-height-basic){
  font-size: $font-size-5;
  font-weight: $font-weight-light;
  line-height: $line-height;
}

@mixin font-style-6($line-height: $line-height-basic){
  font-size: $font-size-6;
  font-weight: $font-weight-regular;
  line-height: $line-height;
}

