body{
  @include font-style-5();
  font-family: $font-basic-family;
  color: $color-primary;
}

h1,
h2,
.h2,
.h1,
.txt-style-1{ @include font-style-1(); }

.txt-style-2 { @include font-style-2(); }

h3,
.h3,
.txt-style-3{ @include font-style-3(); }

h4,
.h4,
.txt-style-4,
.txt-subtitle{ @include font-style-4(); }

h5,
h6,
p,
a,
.h5,
.h6,
.txt-style-5{ @include font-style-5(); }

.txt-style-6{ @include font-style-6(); }

a{
  color: $color-green;

  &:link,
  &:visited{
    color: $color-link;
  }

  &:hover{
    color: $color-link-hover;
    text-decoration: none;    
  }

  &:active{
    color: $color-link-active;
  }
}

.txt-title{ 
  @include font-style-3();
  text-transform: uppercase;
  color: $color-secondary;
}

.txt-disclaimer{ 
  @include font-style-6();
  color: $color-secondary;
}

.dark-theme{
  color: $color-white;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  [class^="txt-"]{
    color: $color-white;
  }
}

@include media-breakpoint-down(md) {

  body{
    font-size: $font-size-t-5;
  }

  h1,
  h2,
  .h2,
  .h1,
  .txt-style-1{ font-size: $font-size-t-1; }

  .txt-style-2 { font-size: $font-size-t-2 }

  h3,
  .h3,
  .txt-style-3{ font-size: $font-size-t-3; }

  h4,
  .h4,
  .txt-style-4,
  .txt-subtitle{ font-size: $font-size-t-4; }

  h5,
  h6,
  p,
  a,
  .h5,
  .h6,
  .txt-style-5{ font-size: $font-size-t-5; }

  .txt-style-6{ font-size: $font-size-t-6; }

  .txt-title{ 
    font-size: $font-size-t-3;
  }

  .txt-disclaimer{ 
    font-size: $font-size-t-6;
  }
}