.users-list{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: #ddd;
  transform: translate(100% ,0);
  transition: .3s;

  &.is-open{
    transform: translate(0 ,0);
  }

  .users-list__header{
    background-color: #eee;
    height: 64px;
    display: flex;
    align-items:center;
    padding: 0 20px;
  }

  .single-user{
    height: 64px;
    padding: 0 20px;    
    display: flex;
    align-items:center;
    background-color: white;

    &.is-offline{
      opacity: 0.5;
    }
  }
}