@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i|Noto+Sans+TC:300,400,500');

// Color

$color-white: #fff;
$color-grey-100: #f4f4f4;
$color-grey-200: #efefef;
$color-grey-300: #d2d2d2;
$color-grey-400: #9b9b9b;
$color-grey-500: #4a4a4a;

$color-green: #4bd6b8;
$color-green-light: #a0d4c8;
$color-green-dark: #3bccad;

$color-orange: #ff996e;

$color-primary: $color-grey-500;
$color-secondary: $color-grey-400;

$color-link: $color-green;
$color-link-hover: $color-green-dark;
$color-link-active: $color-green-light;

// Font

$font-basic-family: 'Montserrat', 'Noto Sans TC', sans-serif;

$font-basic-size: 15px;
$font-basic-t-size: 14px;

$line-height-basic: 1.5;

$font-size-1: 40px;
$font-size-2: 30px;
$font-size-3: 24px;
$font-size-4: 18px;
$font-size-5: $font-basic-size;
$font-size-6: 12px;

// Font size for tablet/mobile
$font-size-t-1: 34px;
$font-size-t-2: 24px;
$font-size-t-3: 18px;
$font-size-t-4: 16px;
$font-size-t-5: $font-basic-t-size;
$font-size-t-6: $font-size-6;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;

$icon-small-size: 25px;
$icon-medium-size: 35px;
$icon-large-size: 50px;

$btn-font-size: 14px;

// Image path

$htc-logo: './images/htc-logo.svg';
$vive-logo: './images/vive-logo.svg';
$vive-logo-color: './images/vive-logo-color.svg'
