@import "_custom.scss";
@import "~bootstrap/scss/bootstrap";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import "_mixins.scss";
@import "_variables.scss";

@import "_basic.scss";
@import "_utilities.scss";

@import "_typography.scss"