<!DOCTYPE html>
<html>
  <head>
    <title>CSS snack</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
  </head>
  <body>
    <div class="main">
      <section>
        <div class="container">
          <div class="cubic-menu">
            <div class="cubic-menu--item">
              Home
            </div>
            <div class="cubic-menu--item">
              Product
            </div>
            <div class="cubic-menu--item">
              Shopping Cart
            </div>
            <div class="cubic-menu--item">
              Setting
            </div>
          </div>
        </div>        
      </section>
    </div>
  </body>
</html>
