<h2>Buttons</h2>
<div class="card">
  <div class="card-body bg-light">
    <h4>Primary Button <span class="text-success">.btn .btn-primary</span></h4>
    <div class="d-flex">
      <button class="btn btn-primary m-2">
        Normal
      </button>
      <button class="btn btn-primary m-2" disabled>
        Disabled
      </button>
    </div>
    <h4>Primary Outline Button <span class="text-success">.btn .btn-outline-primary</span></h4>
    <div class="d-flex">
      <button class="btn btn-outline-primary m-2">
        Normal
      </button>
      <button class="btn btn-outline-primary m-2" disabled>
        Disabled
      </button>
    </div>
  </div>
</div>