<h2>Colors</h2>
<div class="card">
  <div class="card-body bg-light">
    <h3>Basic</h3>
    <h4>Grey</h4>
    <div class="d-flex">
      <div class="p-4 m-2 bg-color-white text-center">
        <span class="text-info">White</span><br>
        #fff
      </div>
      <div class="p-4 m-2 bg-color-grey-100 text-center">
        <span class="text-info">Grey 100</span><br>
        #f4f4f4
      </div>
      <div class="p-4 m-2 bg-color-grey-200 text-center">
        <span class="text-info">Grey 200</span><br>
        #efefef
      </div>
      <div class="p-4 m-2 bg-color-grey-300 text-center">
        <span class="text-info">Grey 300</span><br>
        #d2d2d2
      </div>
      <div class="p-4 m-2 bg-color-grey-400 text-center">
        <span class="text-info">Grey 400</span><br>
        #9b9b9b
      </div>
      <div class="p-4 m-2 bg-color-grey-500 text-center">
        <span class="text-info">Grey 500</span><br>
        <span class="text-white">#4a4a4a</span>
      </div>
    </div>
    <h4>Other</h4>
    <div class="d-flex">
      <div class="p-4 m-2 bg-color-green-light text-center">
        <span class="text-info">Green Light</span><br>
        #a0d4c8
      </div>
      <div class="p-4 m-2 bg-color-green text-center">
        <span class="text-info">Green</span><br>
        #4bd6b8
      </div>
      <div class="p-4 m-2 bg-color-green-dark text-center">
        <span class="text-info">Green Dark</span><br>
        #3bccad
      </div>
      <div class="p-4 m-2 bg-color-orange text-center">
        <span class="text-info">Orange</span><br>
        #ff996e
      </div>
    </div>
    <hr>
    <h3>Background Color</h3>
    <div class="row">
      <div class="col-6">
        <h4>Grey</h4>
        <div class="p-4 my-2 bg-color-white text-center">
          <span class="text-primary">.bg-color-white</span><br>
          background-color: White
        </div>
        <div class="p-4 my-2 bg-color-grey-100 text-center">
          <span class="text-primary">.bg-color-grey-100</span><br>
          background-color: Grey 100
        </div>
        <div class="p-4 my-2 bg-color-grey-200 text-center">
          <span class="text-primary">.bg-color-grey-200</span><br>
          background-color: Grey 200
        </div>
        <div class="p-4 my-2 bg-color-grey-300 text-center">
          <span class="text-primary">.bg-color-grey-300</span><br>
          background-color: Grey 300
        </div>
        <div class="p-4 my-2 bg-color-grey-400 text-center">
          <span class="text-primary">.bg-color-grey-400</span><br>
          background-color: Grey 400
        </div>
        <div class="p-4 my-2 bg-color-grey-500 text-center">
          <span class="text-primary">.bg-color-grey-500</span><br>
          <span class="text-white">background-color: Grey 500</span>
        </div>
      </div>
      <div class="col-6">
        <h4>Other</h4>
        <div class="p-4 m-2 bg-color-green-light text-center">
          <span class="text-primary">.bg-color-green-light</span><br>
          background-color: Green Light
        </div>
        <div class="p-4 m-2 bg-color-green text-center">
          <span class="text-primary">.bg-color-green</span><br>
          background-color: Green
        </div>
        <div class="p-4 m-2 bg-color-green-dark text-center">
          <span class="text-primary">.bg-color-green-dark</span><br>
          background-color: Green Dark
        </div>
        <div class="p-4 m-2 bg-color-orange text-center">
          <span class="text-primary">.bg-color-orange</span><br>
          background-color: Orange
        </div>                  
      </div>                
    </div>
  </div>
</div>