<h2>Responsive breakpoints</h2>
<div class="card">
  <div class="card-body bg-light">
    <h3>Desktop</h3>
    <ul>
      <li> screen size >= 1200px (-xl-)</li>
      <li> screen size >= <span class="text-primary">992px (-lg-)</span> </li>
    </ul>
    <h3>Tablet</h3>
    <ul>
      <li> screen size >= 768px (-md-)</li>
      <li> screen size >= <span class="text-primary">576px (-sm-)</span> </li>
    </ul>
    <h3>Mobile</h3>
    <ul>
      <li> screen size < 576px </li>
    </ul>
  </div>
</div>
