<!DOCTYPE html>
<html>
  <head>
    <title>Design Guideline</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
  </head>
  <body>
    <div class="main">
      <section class="section">
        <div class="container">
          <h1>HTC Website UI Design Guideline</h1>
          ${require('./guideline/responsive.html')}
          ${require('./guideline/colors.html')}
          ${require('./guideline/typography.html')}
          ${require('./guideline/icons.html')}
          ${require('./guideline/buttons.html')}
        </div>
      </section>
    </div>
  </body>
</html>
