<h2>Icons</h2>
<div class="card">
  <div class="card-body bg-light">
    <h4>Small, with <span class="text-success">.icon--small</span></h4>
    <div class="row no-gutters">
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-account icon--small"></i><br>
        <span class="text-success">.icon-account</span>
      </div>
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-arrow-down icon--small"></i><br>
        <span class="text-success">.icon-arrow-down</span>
      </div>
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-arrow-left icon--small"></i><br>
        <span class="text-success">.icon-arrow-left</span>
      </div>
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-arrow-right icon--small"></i><br>
        <span class="text-success">.icon-arrow-right</span>
      </div>
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-arrow-up icon--small"></i><br>
        <span class="text-success">.icon-arrow-up</span>
      </div>
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-bag-empty icon--small"></i><br>
        <span class="text-success">.icon-bag-empty</span>
      </div>
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-bag icon--small"></i><br>
        <span class="text-success">.icon-bag</span>
      </div>
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-car icon--small"></i><br>
        <span class="text-success">.icon-car</span>
      </div>
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-edit icon--small"></i><br>
        <span class="text-success">.icon-edit</span>
      </div>
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-financing icon--small"></i><br>
        <span class="text-success">.icon-financing</span>
      </div>
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-search icon--small"></i><br>
        <span class="text-success">.icon-search</span>
      </div>
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-search-enlarge icon--small"></i><br>
        <span class="text-success">.icon-search-enlarge</span>
      </div>
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-trash icon--small"></i><br>
        <span class="text-success">.icon-trash</span>
      </div>
    </div>
    <hr>
    <h4>Medium, with <span class="text-success">.icon--medium</span></h4>
    <div class="row no-gutters">
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-account icon--medium"></i><br>
        <span class="text-success">.icon-account</span>
      </div>
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-arrow-down icon--medium"></i><br>
        <span class="text-success">.icon-arrow-down</span>
      </div>
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-arrow-left icon--medium"></i><br>
        <span class="text-success">.icon-arrow-left</span>
      </div>
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-arrow-right icon--medium"></i><br>
        <span class="text-success">.icon-arrow-right</span>
      </div>
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-arrow-up icon--medium"></i><br>
        <span class="text-success">.icon-arrow-up</span>
      </div>
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-bag-empty icon--medium"></i><br>
        <span class="text-success">.icon-bag-empty</span>
      </div>
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-bag icon--medium"></i><br>
        <span class="text-success">.icon-bag</span>
      </div>
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-car icon--medium"></i><br>
        <span class="text-success">.icon-car</span>
      </div>
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-edit icon--medium"></i><br>
        <span class="text-success">.icon-edit</span>
      </div>
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-financing icon--medium"></i><br>
        <span class="text-success">.icon-financing</span>
      </div>
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-search icon--medium"></i><br>
        <span class="text-success">.icon-search</span>
      </div>
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-search-enlarge icon--medium"></i><br>
        <span class="text-success">.icon-search-enlarge</span>
      </div>
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-trash icon--medium"></i><br>
        <span class="text-success">.icon-trash</span>
      </div>
    </div>
    <h4>Large, with <span class="text-success">.icon--large</span></h4>
    <div class="row no-gutters">
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-account icon--large"></i><br>
        <span class="text-success">.icon-account</span>
      </div>
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-arrow-down icon--large"></i><br>
        <span class="text-success">.icon-arrow-down</span>
      </div>
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-arrow-left icon--large"></i><br>
        <span class="text-success">.icon-arrow-left</span>
      </div>
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-arrow-right icon--large"></i><br>
        <span class="text-success">.icon-arrow-right</span>
      </div>
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-arrow-up icon--large"></i><br>
        <span class="text-success">.icon-arrow-up</span>
      </div>
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-bag-empty icon--large"></i><br>
        <span class="text-success">.icon-bag-empty</span>
      </div>
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-bag icon--large"></i><br>
        <span class="text-success">.icon-bag</span>
      </div>
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-car icon--large"></i><br>
        <span class="text-success">.icon-car</span>
      </div>
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-edit icon--large"></i><br>
        <span class="text-success">.icon-edit</span>
      </div>
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-financing icon--large"></i><br>
        <span class="text-success">.icon-financing</span>
      </div>
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-search icon--large"></i><br>
        <span class="text-success">.icon-search</span>
      </div>
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-search-enlarge icon--large"></i><br>
        <span class="text-success">.icon-search-enlarge</span>
      </div>
      <div class="col-1 p-4 m-2 bg-color-white text-center">
        <i class="icon-trash icon--large"></i><br>
        <span class="text-success">.icon-trash</span>
      </div>
    </div>
  </div>
</div>