<h2>Typography</h2>
<div class="card">
  <div class="card-body bg-light">
    <h3>Font Weight</h3>
    <div class="d-flex">
      <div class="p-4 m-2 bg-white text-center f-weight-medium">
        <span class="text-primary">.f-weight-medium</span><br>
        <span class="text-info">Medium</span><br>font-weight:500
      </div>
      <div class="p-4 m-2 bg-white text-center f-weight-regular">
        <span class="text-primary">.f-weight-regular</span><br>
        <span class="text-info">Regular</span><br>font-weight:400
      </div>
      <div class="p-4 m-2 bg-white text-center f-weight-light">
        <span class="text-primary">.f-weight-light</span><br>
        <span class="text-info">Light</span><br>font-weight:300
      </div>
    </div>
    <hr>
    <h3>Fonts</h3>
    <h4>思源黑體</h4>
    <div class="d-flex">
      <div class="p-4 m-2 bg-white text-center f-weight-medium">
        思源<br><span class="text-info">Medium</span>
      </div>
      <div class="p-4 m-2 bg-white text-center f-weight-regular">
        思源<br><span class="text-info">Regular</span>
      </div>
      <div class="p-4 m-2 bg-white text-center f-weight-light">
        思源<br><span class="text-info">Light</span>
      </div>
    </div>
    <h4>Montserrat</h4>
    <div class="d-flex">
      <div class="p-4 m-2 bg-white text-center f-weight-medium">Aa<br><span class="text-info">Medium</span></div>
      <div class="p-4 m-2 bg-white text-center f-weight-regular">Aa<br><span class="text-info">Regular</span></div>
      <div class="p-4 m-2 bg-white text-center f-weight-light">Aa<br><span class="text-info">Light</span></div>
    </div>
    <hr>
    <h3>Text Color</h3>
    <div class="d-flex">
      <div class="p-4 m-2 bg-white text-center txt-primary">
        <span class="text-primary">.txt-primary</span><br>
        <span class="text-info">Text Primary</span><br>
        color: Grey 500
      </div>
      <div class="p-4 m-2 bg-white text-center txt-secondary">
        <span class="text-primary">.txt-secondary</span><br>
        <span class="text-info">Text Secondary</span><br>
        color: Grey 400
      </div>
      <div class="p-4 m-2 bg-dark dark-theme text-center">
        wrap with <span class="text-success">.dark-theme</span><br>
        <span class="text-primary">.txt-primary / .txt-secondary</span><br>
        <span class="text-info">Text Primary / Text Secondary</span><br>
        <div class="txt-secondary">
          color: White        
        </div>
      </div>
    </div>
    <hr>
    <h3>Line Height</h3>
    <div class="d-flex">
      <div class="p-4 m-2 bg-white text-center">
        <span class="text-info">Line Height Light</span><br>
        line-height: 1
      </div>
      <div class="p-4 m-2 bg-white text-center">
        <span class="text-info">Line Height Basic</span><br>
        line-height: 1.5
      </div>
      <div class="p-4 m-2 bg-white text-center">
        <span class="text-info">Line Height Bold</span><br>
        line-height: 1.7
      </div>
    </div>
    <hr>
    <h3>Text Style Setting</h3>
    <div class="row no-gutters">
      <div class="col-6 bg-white">
        <div class="p-4 my-2 txt-style-1">
          <span class="text-success">.txt-style-1, </span>
          <span class="text-info">Text Style 1</span><br>
          font-size: 40px, Medium, Basic Line Height;          
        </div>
        <div class="p-4 my-2 txt-style-2">
          <span class="text-success">.txt-style-2, </span>
          <span class="text-info">Text Style 2</span><br>
          font-size: 30px, Medium, Basic Line Height;
        </div>
        <div class="p-4 my-2 txt-style-3">
          <span class="text-success">.txt-style-3, </span>
          <span class="text-info">Text Style 3</span><br>
          font-size: 24px, Regular, Basic Line Height;
        </div>
        <div class="p-4 my-2 txt-style-4">
          <span class="text-success">.txt-style-4, </span>
          <span class="text-info">Text Style 4</span><br>
          font-size: 18px, Medium, Basic Line Height;
        </div>
        <div class="p-4 my-2 txt-style-5">
          <span class="text-success">.txt-style-5, </span>
          <span class="text-info">Text Style 5</span><br>
          font-size: 15px, Light, Basic Line Height;
        </div>
        <div class="p-4 my-2 txt-style-6">
          <span class="text-success">.txt-style-6, </span>
          <span class="text-info">Text Style 6</span><br>
          font-size: 12px, Regular, Basic Line Height;
        </div>        
      </div>
      <div class="col-6 bg-dark dark-theme">
        <div class="p-4 my-2 txt-style-1">
          <span class="text-success">.txt-style-1, </span>
          <span class="text-info">Text Style 1</span><br>
          font-size: 40px, Medium, Basic Line Height;          
        </div>
        <div class="p-4 my-2 txt-style-2">
          <span class="text-success">.txt-style-2, </span>
          <span class="text-info">Text Style 2</span><br>
          font-size: 30px, Medium, Basic Line Height;
        </div>
        <div class="p-4 my-2 txt-style-3">
          <span class="text-success">.txt-style-3, </span>
          <span class="text-info">Text Style 3</span><br>
          font-size: 24px, Regular, Basic Line Height;
        </div>
        <div class="p-4 my-2 txt-style-4">
          <span class="text-success">.txt-style-4, </span>
          <span class="text-info">Text Style 4</span><br>
          font-size: 18px, Medium, Basic Line Height;
        </div>
        <div class="p-4 my-2 txt-style-5">
          <span class="text-success">.txt-style-5, </span>
          <span class="text-info">Text Style 5</span><br>
          font-size: 15px, Light, Basic Line Height;
        </div>
        <div class="p-4 my-2 txt-style-6">
          <span class="text-success">.txt-style-6, </span>
          <span class="text-info">Text Style 6</span><br>
          font-size: 12px, Regular, Basic Line Height;
        </div>
      </div>      
    </div>
    <hr>
    <h3>Headline</h3>
    <div class="row no-gutters">
      <div class="col-6 bg-white">
        <div class="p-4 my-2">
          <h1>標題 h1, <span class="text-success">.h1</span><br> Text Style 1</h1>
        </div>
        <div class="p-4 my-2">
          <h2>標題 h2, <span class="text-success">.h2</span><br> Text Style 1</h2>
        </div>
        <div class="p-4 my-2">
          <h3>標題 h3, <span class="text-success">.h3</span><br> Text Style 3</h3>
        </div>
        <div class="p-4 my-2">
          <h4>標題 h4, <span class="text-success">.h4</span><br> Text Style 4</h4>
        </div>
        <div class="p-4 my-2">
          <h5>標題 h5, <span class="text-success">.h5</span><br> Text Style 5</h5>
        </div>
        <div class="p-4 my-2">
          <h6>標題 h6, <span class="text-success">.h6</span><br> Text Style 5</h6>
        </div>
      </div>
      <div class="col-6 bg-dark dark-theme">
        <div class="p-4 my-2">
          <h1>標題 h1, <span class="text-success">.h1</span><br> Text Style 1</h1>
        </div>
        <div class="p-4 my-2">
          <h2>標題 h2, <span class="text-success">.h2</span><br> Text Style 1</h2>
        </div>
        <div class="p-4 my-2">
          <h3>標題 h3, <span class="text-success">.h3</span><br> Text Style 3</h3>
        </div>
        <div class="p-4 my-2">
          <h4>標題 h4, <span class="text-success">.h4</span><br> Text Style 4</h4>
        </div>
        <div class="p-4 my-2">
          <h5>標題 h5, <span class="text-success">.h5</span><br> Text Style 5</h5>
        </div>
        <div class="p-4 my-2">
          <h6>標題 h6, <span class="text-success">.h6</span><br> Text Style 5</h6>
        </div>
      </div>
    </div>
    <hr>
    <h3>Paragraph & Hyperlink</h3>
    <div class="bg-white p-4 my-2">
      <p>文章段落 P<br> Text Style 5, margin-bottom: 5px</p>
    </div>
    <div class="bg-white p-4 my-2">
      <a href="#">文字連結 a<br> Text Style 5, Green, :hover Green Dark, :acive Green Light</a>
    </div>
    <hr>
    <h3>General Text Class</h3>
    <div class="bg-white p-4 my-2 txt-title">
      <span class="text-success text-lowercase">.txt-title</span><br>
      Text Style 3, color: Text Secondary, text-transform: uppercase.
    </div>
    <div class="bg-white p-4 my-2 txt-subtitle">
      <span class="text-success">.txt-subtitle</span><br>
      Text Style 4
    </div>
    <div class="bg-white p-4 my-2 txt-disclaimer">
      <span class="text-success">.txt-disclaimer</span><br>
      Text Style 6, color: Text Secondary
    </div>
  </div>
</div>
